<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <link rel="icon" type="image/x-icon" href="{% static 'jebif_website/images/favicon.ico' %}">
        <title>
            Jebif_website
        </title>
    </head>
    <body class="pt-5" style="background-color: #e4e4e4;">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
        <div class="container my-3 mt-3">
            <div class="row justify-content-center">
                <div class="col-11 col-lg-11 bg-light shadow rounded-3 p-4" style="background-color: #ffffff;">
                    {% include 'jebif_website/nav.html' %}
                    <div class="col-md-9 col-6 mx-auto mx-md-auto my-md-3 shadow-sm">
                        <img src="{% static 'jebif_website/images/jebif_banniere.png' %}" class="img-fluid" style="max-width:100%; height:auto;" alt="jebif_banniere">
                    </div>
                    <!--Content Part-->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-12 mx-md-auto py-md-5">
                                {% include 'jebif_website/messages.html' %}
                                {% block content %}
                                {% endblock %}
                            </div>
                        <!--Side Part-->
                            <div class="col-md-4 mx-md-auto py-md-5">
                                {% include 'jebif_website/side.html' %}
                            </div>
                        </div>

                </div>
            </div>
        </div>  
    </body>
</html>