{% extends 'jebif_website/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        {% for article in articles %}

            {% if article %}
                <div>
                    <a href="{%url 'article' slug=article.slug %}" class="text-decoration-none" style="color: #436d8f;"><h2>{{article.title}}</h2></a>
                    {{article.content|safe}}
                </div>
                
            {% endif %}

        {% endfor %}
    </div>
    {% include 'jebif_website/side.html' %}
</div>
{% endblock %}