{% extends 'jebif_website/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

        <h1>Contact</h1>
        <h4>Adresse de l’association :</h4>

        <p>4 Rue des Arènes
        75005 Paris</p>

        <h4>Nous sommes joignables sur:</h4>
        <ul>
            <li>
                Facebook <a href="https://www.facebook.com/JeBiF.RSG.France/">@JeBiF.RSG.France</a>
            </li>
            <li>
                BlueSky <a href="https://bsky.app/profile/did:plc:7ixbq4dfv2dqrqqfnnryizsu">@jebif.bsky.social</a>
            </li>
            <li>
                LinkedIn <a href="https://www.linkedin.com/company/rsg-france-jebif">Jeunes Bioinformaticien-ne-s de France (RSG France - JeBiF)</a>
            </li>
        </ul>
        
        <h4>Et bien sûr par courriel :</h4>
        <form method="post">
            {% csrf_token %}
            {% crispy form %}
            <button class="btn btn-primary" type="submit">Envoyer</button>
        </form>

{% endblock %}