{% extends 'jebif_website/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h2>S'inscrire à {{ event.title }}</h2>

        <p>{{ event.description }}</p>

        <form method="post">
            {% csrf_token %}

            {% crispy form %}

            <p>L'inscription à cet évènement n'est pas une inscription au site web (si vous n'avez pas déjà de compte).
                Les informations entrées sont utilisées pour anticiper le nombre de personnes et vous envoyer des informations
                concernant cet évènement et rien d'autre.
            </p>
        </form>
    </div>
{% endblock %}