{% extends 'jebif_website/base.html'%}

{% load crispy_forms_tags %}

{% block title %}
Complétion du compte
{% endblock title %}

{% block content %}

            <h1>
                Complétion des informations du compte
            </h1>
            <p>Adresse e-mail validée ! Remplis les informations suivantes pour compléter ton compte.</p>
            {% if existing_account %}
                <p>Adhésion existante trouvée ! Vérifie que les information sont correctes.</p>
            {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    {% crispy info_form %}
                    
                </form>

{% endblock content %}