{% extends 'jebif_website/base.html'%}

{% load crispy_forms_tags %}

{% block content %}

            <h1>
                Connexion
            </h1>
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                <button class="btn btn-secondary" type="submit">
                    Connexion
                </button>
            </form>
            <div class="pt-3">
                <small class="text-muted">
                    Besoin d'un compte? <a href="{% url 'register' %}" class="ml-2">Création</a>
                </small>
            </div>
            <div class="pt-3">
                <small class="text-muted">
                    <a href="{% url 'password_reset' %}" class="ml-2">Mot de passe oublié ?</a>
                </small>
            </div>
{% endblock content %}